---
layout: default-search
title: Speaking
---

<div class="speaking center">
<h1>Upcoming Events</h1>
<p class="notice">Due to COVID-19, I currently have no in-person events coming up. Please check out my web series <a href="https://www.youtube.com/watch?v=YK8GZBx3hpg&list=PLNYkxOF6rcIDI0QtJvW6vKonTxn6azCsD">Designing in the Brower</a>, the <a href="https://pod.link/1501895136">CSS Podcast</a>, or the <a href="https://spec.fm/podcasts/toolsday">Toolsday Podcast</a> instead to hear my voice!</p>
<ul class="event-list--upcoming">
{% for post in site.posts reversed %}
    {% if post.upcoming %}
        <li>
             <p class="event--info"> <a class="event--name" href="{{ post.event-link }}">{{ post.event }}</a> <span class="event--location">{{ post.location }} </span> <span class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</span></p>
         </li>
    {% endif %}
 {% endfor %}
</ul>

<h1>Previous Talks</h1>
<ul class="event-list--past">
{% for post in site.posts %}
    {% if post.event %}
        {% unless post.upcoming %}
         <li>
            {% if post.link-type %}
            <a href="{{post.main-link}}">
            {% endif %}
                <div class="img-container">
                    <img src="{{ post.image }}" alt="{{ post.event }}">
                </div>
                <div class="meta-container">
                    {% if post.link-type %}
                        <div class="flag"><p>{% if post.link-type %}{{ post.link-type }}{% endif %}</p></div>
                    {% endif %}
                    <h2 class="event-name">{{ post.event }} <div class="event-flag">{{ post.flag }}</div></h2> <span class="title">{{post.talk}}</span>
                    <p class="post-meta">{{ post.date | date: "%B %-d, %Y" }}</p>
                </div>
            {% if post.link-type %}
            </a>
            {% endif %}
         </li>
         {% endunless %}
    {% endif %}
 {% endfor %}
</ul>

