---
layout: default
title: Speaking
---

<!-- TEMP -->
<link rel="stylesheet" href="css/main.min.css">

<div class="speaking center">
<h1>Upcoming Events</h1>
<ul class="event-list--upcoming">
{% for post in site.posts reversed %}
    {% if post.upcoming %}
        <li>
             <p class="event--info"><a class="event--name" href="{{ post.event-link }}">{{ post.event }}</a>, <span class="event--location">{{ post.location }} </span> {{ post.date | date: "%B %-d, %Y" }}</p>
         </li>
    {% endif %}
 {% endfor %}
</ul>

<h1>Previous Talks</h1>
<ul class="event-list--upcoming">
{% for post in site.posts %}
    {% if post.event %}
        {% unless post.upcoming %}
         <li class="post-preview {%if post.link-out%}link-out{%endif%}">
                 <h2 class="event-name">
                     {{ post.event }}
                 </h2>
                 <p class="post-meta">Posted on {{ post.date | date: "%B %-d, %Y" }}</p>
                 {% if post.subtitle %}
                 <p class="post-subtitle">
                     {{ post.subtitle }}
                 </p>
                 {% endif %}
         </li>
         {% endunless %}
    {% endif %}
 {% endfor %}
</ul>

