%center-contain,
.center-contain {
	text-align: center;
}

%contain-1100,
.contain-1100 {
	max-width: 1100px;
	margin: 0 auto;
}

%contain-1200,
.contain-1200 {
	max-width: 1200px;
	margin: 0 auto;
}

%contain-1300,
.contain-1300 {
	max-width: 1300px;
	margin: 0 auto;
}

%hide-sm,
.hide-sm {
	// @include breakpoint($small-tab) {
	// 	display: none !important; //used an important b/c it overrides all rules, no matter what, and it's going to be used on everything -- from js to gifs to images of all sorts of locations and classes
	// }
}

%left,
.left {
	float: left;
	padding-right: 2em;

	// @include breakpoint($small-tab) {
	// 	padding-right: 0;
	// }
}

%right,
.right {
	float: right;
	padding-left: 2em;

	// @include breakpoint($small-tab) {
	// 	padding-left: 0;
	// }
}

.clear,
%clear {
	clear: both;
}

blockquote.right {
	-ms-text-align: right;
	text-align: right;
}

%center,
.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

%clearfix,
.clearfix {
	clear: both;
}

%transition,
.transition {
	transition-duration: .5s;
}