%center,
.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

%clearfix,
.clearfix {
	clear: both;
}

%transition,
.transition {
	transition-duration: .5s;
}

.half--left {
  width: 48%;
  margin: 1%;
  float: left;

  @include breakpoint(xs) {
    width: 100%;
    margin: 1em 0;
    float: none;
  }
}

.half--right {
  width: 48%;
  margin: 1%;
  float: right;

  @include breakpoint(xs) {
    width: 100%;
    margin: 1em 0;
    float: none;
  }
}