body {
	@extend %font-copy;
	@include fontsize(12);
	margin: 0;
	padding: 0;

	@include breakpoint(md) {
		@include fontsize(11);
	}

	@include breakpoint(sm) {
		@include fontsize(10);
	}
}

* {
	box-sizing: border-box;
}

::selection {
	color: white;
	background: $color--main;
}

.row {
	overflow: hidden;
	position: relative;
	width: 100%;
}

.container,
%container {
	max-width: $post-width;
	margin: 2em auto 0;
}

img {
	max-width: 100%;
	margin: 0 auto;
}

%transition-duration {
	transition-duration: .5s;
}