 h1 { font-size: 64px }
// h2 { font-size: 47.5px }
// h3 { font-size: 32px }
// h4 { font-size: 23.75px }
// p { font-size: 16px }
// small { font-size: 8px }

%vert-rythm {
  margin: 1.5em auto 0;
}

h1 {
	@include fontsize(32);
  @extend %clearfix;
  @extend %vert-rythm;
	@extend %font-title;

  @include breakpoint(md) {
    @include fontsize(28)
  }

  @include breakpoint(sm) {
    @include fontsize(20)
  }
}

h2 {
	@include fontsize(23.75);
  @extend %clearfix;
  @extend %vert-rythm;
	@extend %font-title;

  @include breakpoint(sm) {
    @include fontsize(18)
  }
}

h3 {
	@extend %font-title-sm;
  @extend %clearfix;
	@include fontsize(18);
  @extend %vert-rythm;
	font-weight: 800;

  @include breakpoint(sm) {
    @include fontsize(16)
  }
}

h4 {
  margin-top: 2em;
}

p {
	color: $color--copy;
	line-height: $page-line-height;
  margin-bottom: 1em;
}

a {
	@extend %transition;
}

i {
  @extend %italic;
}

%pink-links {
  a {
    color: $color--links;
    padding: 0 .2em;
    border-bottom: 1px dashed $color--main;

    &:hover {
      background: $color--main;
      color: white;
    }
  }

  a.twitter-share {
    color: $color--blue;

    &:hover {
      background: $color--blue;
      color: white;
    }
  }
}

%pink-aside {
  background-color: $color--subtlegrey;
  border-right: 2px solid $color--main;
  color: $color--main;
  display: block;
  float: right;
  font-style: italic;
  margin: 1em;
  overflow: hidden;
  padding: .5em 1em;
  margin-left: 50%;
}

%blockquote {
    font-size: 130%;
    margin: 1em auto;
    padding: .5em 1em;
    background: $color--subtlegrey;
    display: block;
    border-bottom: none;
    border-left: 2px solid $color--blue;
    font-style: italic;
    position: relative;
    max-width: 70%;

    &.left {
      max-width: 50%;
      float: left;
      margin: 0 1em 0 0;
    }

    &.right {
      max-width: 50%;
      float: right;
      margin: 0 0 0 1em;
    }

    @include breakpoint(sm) {
        max-width: 100%;
        margin: 1em auto;
    }
  }