%vert-rythm {
  margin: 1.5em auto 0;
}

h1 {
  @extend %clearfix;
  @extend %vert-rythm;
  @extend %font-title;
  @include fontsize(32);

  @include breakpoint(md) {
    @include fontsize(28)
  }

  @include breakpoint(sm) {
    @include fontsize(20)
  }
}

h2 {
  @extend %clearfix;
  @extend %vert-rythm;
  @extend %font-title;
  @include fontsize(26);

  @include breakpoint(sm) {
    @include fontsize(18)
  }
}

h3 {
  @extend %font-title-sm;
  @extend %clearfix;
  @extend %vert-rythm;
  @include fontsize(18);
  font-weight: 800;

  @include breakpoint(sm) {
    @include fontsize(16)
  }
}

h4 {
  margin-top: 2em;
}

p {
  color: $color--copy;
  line-height: $page-line-height;
  margin-bottom: 1em;
}

a {
  @extend %transition;
}

i {
  @extend %italic;
}

%pink-links {
  a {
    border-bottom: 1px dashed $color--main;
    color: $color--links;
    padding: 0 .2em;

    &:hover {
      background: $color--main;
      color: #fff;
    }
  }

  a.twitter-share {
    color: $color--blue;

    &:hover {
      background: $color--blue;
      color: #fff;
    }
  }
}

%pink-aside {
  background-color: $color--subtlegrey;
  border-right: 2px solid $color--main;
  color: $color--main;
  display: block;
  float: right;
  font-style: italic;
  margin: 1em;
  overflow: hidden;
  padding: .5em 1em;
  margin-left: 50%;
}

%blockquote {
  font-size: 130%;
  margin: 1em auto;
  padding: .5em 1em;
  background: $color--subtlegrey;
  display: block;
  border-bottom: 0;
  border-left: 2px solid $color--blue;
  font-style: italic;
  position: relative;
  max-width: 70%;
  line-height: 1.8;
  color: $color--purple;

  &.left {
    float: left;
    margin: 0 1em 0 0;
    max-width: 50%;
  }

  &.right {
    float: right;
    margin: 0 0 0 1em;
    max-width: 50%;
  }

  @include breakpoint(sm) {
    margin: 1em auto;
    max-width: 100%;
  }
}
