<footer role="contentinfo">
	<ul class="social-icons">
		<li><a href="http://twitter.com/una" target="_blank" class="has-tooltip icon-twitter"><span class="tooltip">Twitter</span></a></li>
		<li><a href="http://dribbble.com/una" target="_blank" class="has-tooltip icon-dribbble"><span class="tooltip">Dribbble</span></a></li>
		<li><a href="http://github.com/una" target="_blank" class="has-tooltip icon-github2"><span class="tooltip">Github</span></a></li>
		<li><a href="http://vimeo.com/unakravets" target="_blank" class="has-tooltip icon-vimeo"><span class="tooltip">Vimeo</span></a></li>
		<li><a href="http://blog.unakravets.com" target="_blank" class="has-tooltip icon-paragraph-left"><span class="tooltip">Blog</span></a></li>
		<li><a href="http://sketchbook.unakravets.com" target="_blank" class="has-tooltip icon-pencil"><span class="tooltip">Sketchbook</span></a></li>
		<li><a href="http://codepen.io/una" target="_blank" class="has-tooltip icon-codepen"><span class="tooltip">Codepen</span></a></li>
		<li><a href="http://www.linkedin.com/pub/una-kravets/30/827/a35/" target="_blank" class="has-tooltip icon-linkedin"><span class="tooltip">LinkedIn</span></a></li>
		<li><a href="mailto:una.kravets@gmail.com?subject=Hello There!&amp;body=Hi Una, so I was looking at your blog and..." class="has-tooltip icon-mail2"><span class="tooltip">Email</span></a></li>
	</ul>
	<p>&copy; <a href="http://unakravets.com" target="_blank">Una Kravets</a> {{ site.time | date: '%Y' }}. Made with love and coffee. View <a href="http://github.com/una/una.github.io" target="_blank">source</a>.
	</p>
</footer>

<!-- Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,900|Open+Sans:300italic,400,700,300' rel='stylesheet' type='text/css'>

<script defer src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script defer src="//cdn.jsdelivr.net/headroomjs/0.5.0/headroom.min.js"></script>
<script defer src="/js/scripts.js"></script>
<link rel="stylesheet" href="css/main.min.css">
