<div class="menu-section">
	<nav>
		<ul role="navigation" class="hidden">
			<li><a {% if page.title == "Home" %}class="active"{% endif %} href="/">Home</a></li>
      <li><a {% if page.title == "Archive" %}class="active"{% endif %} href="/archive">Writing</a></li></li>
			<li><a {% if page.title == "Speaking" %}class="active"{% endif %} href="/speaking">Speaking</a></li>
			<li><a href="http://unakravets.com/about.html">About</a></li>
      <li><a href="feed.xml">RSS</a></li>
		</ul>
	</nav>
</div>