<section class="css-effects-series">
	<em>This post is part of a 3x3x3 blog series. 3 Blogs about 3 different topics, each containing 3 main points:</em>
  <ul>
    <li><a href="/perf-design-wins">3 Easy Performance Wins for Designers</a></li>
    <li><a href="/weird-svg-issues">3 Weird SVG Browser Inconsistencies</a></li>
    <li><a href="/pattern-libs">3 Years of Pattern Libraries: Lessons Learned</a></li>
  </ul>
	<small><em>You, too, should do this challenge, and send me your links! 😅</em></small>
</section>