header {
	@extend %transition;
	position: absolute;
	width: 100%;
	z-index: 10;
	top: 0;
	opacity: 1;

	.lil-unicorn {
		background-image: url('../images/unicorn-single.svg');
		background-repeat: no-repeat;
		background-size: 100%;
    width: 2.5em;
    height: 3.2em;
    margin: 0.4em 1em 0 0.5em;
		display: inline-block;
	}

	a {
		@extend %blue;
	}


	&.headroom--unpinned {
		top: -75px;
		opacity: 0;
	}

	&.headroom--pinned {
		position: fixed;
		top: 0;
		background: white;
		border-bottom: 1px solid $color--lightgrey;
	}

	&.headroom--top {
		background: none;
		border-bottom: none;
	}
}