header {
	@extend %transition;
	position: absolute;
	width: 100%;
	z-index: 10;
	top: 0;
	opacity: 1;

	.lil-fish {
		background-image: url("http://38.media.tumblr.com/avatar_79b8b35f65b8_128.png");
		height: 2.2em;
		width: 47px;
		display: inline-block;
		background-size: 100%;
		
	}

	.title {
		@include fontsize(16);
		float: left;
		margin: 1rem;
	}

	a {
		@extend %blue;
	}


	&.headroom--unpinned {
		top: -75px;
		opacity: 0;
	}

	&.headroom--pinned {
		position: fixed;
		top: 0;
		background: white;
		border-bottom: 1px solid $color--lightgrey;
	}

	&.headroom--top {
		background: none;
		border-bottom: none;
	}
}