.cs--list {

	li {
	width: 100%;
	
	@include breakpoint($tab-vert) {
		width: 120%;
		margin-left: -10%;
	}
	
		img {
			margin: 0 auto;
			width: 100%;
			display: block;
			max-width: 1200px;
		}

		h2 {
			@include fontsize(36); 
		}

		.gold h2{
			color: $color--gold;
		}

		.blue h2{
			color: $color--blue;
		}

		.orange h2{
			color: $color--orange;
		}
	}
}

.cs--bar {
	display: block;
	background-color: white; 
}

.cs--list a {
	border-bottom: 1px solid lightgrey;
}

.home-about {
	display: block;
	padding: 0 1em 2em;
}

.about-me {
	max-width: 550px;
	margin: 0 auto;
	text-align: center;
	
	@include breakpoint($phone-horiz) {
		padding: 3em 0 1em;
	}
	
	h1 {
		line-height: 2;
		color: white;
	}

	p {
		@extend %white;
		@include fontsize(16);
		color: white;
		margin-top: -1em;

		@include breakpoint($phone-horiz) {
			@include fontsize(12)
		}

		a {
			color: $color--hotpink;
			&:hover {
				background: $color--hotpink;
				color: white;
			}
		}
	}
}