// pattern mixin
@mixin intro-pattern($bg-primary,$bg-secondary) {
  background:
    repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 1em,
    rgba($bg-secondary,0.4) 0,
    rgba($bg-secondary,0.1) 2em,
    transparent 0,
    transparent 1em,
    rgba($bg-secondary,0.3) 0,
    rgba($bg-secondary,0.2) 4em,
    transparent 0,
    transparent 1em,
    rgba($bg-primary,0.6) 0,
    rgba($bg-primary,0.2) 2em
  ),
  repeating-linear-gradient(
    45deg,
    transparent,
    transparent 1em,
    rgba($bg-secondary,0.4) 0,
    rgba($bg-secondary,0.1) 2em,
    transparent 0,
    transparent 1em,
    rgba($bg-secondary,0.3) 0,
    rgba($bg-secondary,0.2) 4em,
    transparent 0,
    transparent 1em,
    rgba($bg-primary,0.4) 0,
    rgba($bg-primary,0.1) 2em
  ), #FFF;
  // background-blend-mode: multiply;
}

.intro {
  @include fontsize(18);
  // background: lavender;
  padding: 2em;
  height: 100%;
  // @include intro-pattern(#c0ebfa, #7FD7F5);

  p {
    max-width: 700px;
    @extend %center;
    font-weight: 400;
  }

  a {
    text-decoration: underline;
  }
}


.self-portrait {
  // width: 150px;
  // height: 150px;
  // border-radius: 50%;
  // background-image: url('../images/una-kravets.jpg');
  // background-position: 50%;
  // background-size: cover;
  width: 330px;
  height: 360px;
  background-image: url('../images/me-sketchtransp.gif');
  margin: 1em auto;
  background-size: 100%;
  background-repeat: no-repeat;

}