.intro {
  @include fontsize(18);
  @extend %pink-links;
  @extend %container;
  @extend %center;

  p {
    @extend %center;
    @extend %pink-aside;
    margin: 16em 0 0;
    max-width: 330px;
    font-size: 1rem;
  }
}

.self-portrait {
  width: 300px;
  height: 325px;
  background-image: url('../images/me-sketchtransp.gif');
  margin: 1em auto;
  background-size: 100%;
  background-repeat: no-repeat;

  @include breakpoint(sm) {
    margin: 3em auto 1em;
  }

}