// COLOR THEME
$color--links: $color--hotpink;
$color--bg: white;
$color--copy: $color--darkgrey;
$color--copy--dark: darken($color--darkgrey, 15);

@mixin theme-me($color) {
	color: $color;
}

%orange,
.orange {
	@include theme-me($color--orange);
}

%gold,
.gold {
	@include theme-me($color--gold);
}

%blue,
.blue {
	@include theme-me($color--blue);
}

%hotpink,
.hotpink {
	@include theme-me($color--hotpink);
}

%white,
.white {
	@include theme-me(white);
}

%darkgrey,
.darkgrey {
	@include theme-me($color--darkgrey);
}

%lightgrey,
.lightgrey {
	@include theme-me($color--lightgrey);
}