// COLOR THEME
$color--main: $color--hotpink;
$color--secondary: $color--darkerpurple;
$color--links: $color--lightpurple;
$color--bg: #fff;
$color--copy: $color--darkgrey;
$color--copy--dark: darken($color--darkgrey, 15);

//SIZES
$list-width: 700px;
$post-width: 780px;
$page-line-height: 1.8;

@mixin theme-me($color) {
  color: $color;
}

%orange,
.orange {
  @include theme-me($color--orange);
}

%gold,
.gold {
  @include theme-me($color--gold);
}

%blue,
.blue {
  @include theme-me($color--blue);
}

%hotpink,
.hotpink {
  @include theme-me($color--hotpink);
}

%white,
.white {
  @include theme-me(#fff);
}

%darkgrey,
.darkgrey {
  @include theme-me($color--darkgrey);
}

%lightgrey,
.lightgrey {
  @include theme-me($color--lightgrey);
}
