//Specifying Font Families
%font-copy {
  font-family: sans-serif;
  font-weight: 300;
}

%font-pull {
  @extend %font-copy;
  font-style: italic;
}

%font-title {
  font-family: 'Alegreya Sans SC', sans-serif;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-weight: 900;
}

%font-title-sm {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 800;
}

%font-blockquote {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 400;
}

%font-icon {
  font-family: 'icomoon';
}

//Font style helpers
.uppercase,
%uppercase {
  text-transform: uppercase;
}

.lowercase,
%lowercase {
  text-transform: lowercase;
}

.italic,
%italic {
  font-style: italic;
}

%caption {
  @extend %italic;
  background: white;
  color: $color--blue;
  font-size: 80%;
  max-width: 300px;
  padding: .5em 1em;
}

%intro-p {
  font-size: 115%;
  border-left: 2px solid $color--main;
  padding-left: 1em;
}

em {
  @extend %italic;
}

@font-face {
  font-family: 'Ampersand';
  font-weight: 700;
  src: local('Oleo Script Swash Caps Bold'), local('OleoScriptSwashCaps-Bold'), url(https://themes.googleusercontent.com/static/fonts/oleoscriptswashcaps/v2/HMO3ftxA9AU5floml9c756HPCue0Y9p7kwQ7JKlwkwmzty3XAGWFpfUour78S_ql.woff) format('woff'), local('Oleo Script Swash Caps'), local('Baskerville'), local('Palatino'), local('Book Antiqua');
  unicode-range: U+26;
}

@font-face {
  //fallback
  font-family: 'Ampersand';
  src: local('Alegreya Sans SC Black'), local('AlegreyaSansSC-Black'), url(https://themes.googleusercontent.com/static/fonts/alegreyasanssc/v1/AjAmkoP1y0Vaad0UPPR462eUmuPaexXbuJ2iMbM_ZTs.woff) format('woff');
  unicode-range: U+270C;
}

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?-6522iq');
  src: url('../fonts/icomoon.eot?#iefix-6522iq') format('embedded-opentype'),
    url('../fonts/icomoon.woff?-6522iq') format('woff'),
    url('../fonts/icomoon.ttf?-6522iq') format('truetype'),
    url('../fonts/icomoon.svg?-6522iq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* alegreya-sans-sc-regular - latin */
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-display: optional;
  font-weight: 400;
  src: local('Alegreya Sans SC Regular'), local('AlegreyaSansSC-Regular'),
       url('../fonts/alegreya-sans-sc-v6-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/alegreya-sans-sc-v6-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-sans-sc-800 - latin */
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-display: optional;
  font-weight: 800;
  src: local('Alegreya Sans SC ExtraBold'), local('AlegreyaSansSC-ExtraBold'),
       url('../fonts/alegreya-sans-sc-v6-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/alegreya-sans-sc-v6-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* alegreya-sans-sc-900 - latin */
@font-face {
  font-family: 'Alegreya Sans SC';
  font-style: normal;
  font-display: optional;
  font-weight: 900;
  src: local('Alegreya Sans SC Black'), local('AlegreyaSansSC-Black'),
       url('../fonts/alegreya-sans-sc-v6-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/alegreya-sans-sc-v6-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dribbble:before {
  content: '\e601';
}

.icon-twitter:before {
  content: '\e602';
}

.icon-github:before {
  content: '\e603';
}

.icon-paragraph-left:before {
  content: '\e604';
}

.icon-github2:before {
  content: '\66';
}

.icon-github3:before {
  content: '\e605';
}

.icon-facebook:before {
  content: '\e607';
}

.icon-facebook2:before {
  content: '\e608';
}

.icon-facebook3:before {
  content: '\e609';
}

.icon-mail:before {
  content: '\e60a';
}

.icon-console:before {
  content: '\e60b';
}

.icon-instagram:before {
  content: '\e60c';
}

.icon-twitter2:before {
  content: '\e60d';
}

.icon-pen:before {
  content: '\e60e';
}

.icon-quotes-left:before {
  content: '\e60f';
}

.icon-vimeo:before {
  content: '\e610';
}

.icon-dribbble2:before {
  content: '\e611';
}

.icon-tumblr:before {
  content: '\e612';
}

.icon-trophy:before {
  content: '\e613';
}

.icon-mug:before {
  content: '\e614';
}

.icon-settings:before {
  content: '\e615';
}

.icon-pencil:before {
  content: '\e616';
}

.icon-mobile:before {
  content: '\e617';
}

.icon-mobile2:before {
  content: '\e618';
}

.icon-tablet:before {
  content: '\e619';
}

.icon-tv:before {
  content: '\e61a';
}

.icon-stats:before {
  content: '\e61b';
}

.icon-crop:before {
  content: '\e61c';
}

.icon-pilcrow:before {
  content: '\e61d';
}

.icon-code:before {
  content: '\e61e';
}

.icon-file-xml:before {
  content: '\e61f';
}

.icon-linkedin:before {
  content: '\e620';
}

.icon-checkmark:before {
  content: '\e621';
}

.icon-close:before {
  content: '\e622';
}

.icon-phone:before {
  content: '\e623';
}

.icon-profile:before {
  content: '\e624';
}

.icon-bubbles:before {
  content: '\e600';
}

.icon-book:before {
  content: '\e626';
}

.icon-codepen:before {
  content: '\e606';
}

.icon-mail2:before {
  content: '\e625';
}

.icon-arrow-left:before {
  content: '\e627';
}

.icon-arrow-right:before {
  content: '\e628';
}

// $icons: (
//   dribbble: '\e601',
//   twitter: '\e602',
//   github: '\e603',
//   paragraph-left: '\e604',
//   github2: '\66',
//   github3: '\e605',
//   facebook: '\e607',
//   facebook2: '\e608',
//   facebook3: '\e609',
//   mail: '\e60a',
//   console: '\e60b',
//   instagram: '\e60c',
//   twitter2: '\e60d',
//   pen: '\e60e',
//   quotes-left: '\e60f',
//   vimeo: '\e610',
//   dribbble2: '\e611',
//   tumblr: '\e612',
//   trophy: '\e613',
//   mug: '\e614',
//   settings: '\e615',
//   pencil: '\e616',
//   mobile: '\e617',
//   mobile2: '\e618',
//   tablet: '\e619',
//   tv: '\e61a',
//   stats: '\e61b',
//   crop: '\e61c',
//   pilcrow: '\e61d',
//   code: '\e61e',
//   file-xml: '\e61f',
//   linkedin: '\e620',
//   checkmark: '\e621',
//   close: '\e622',
//   phone: '\e623',
//   profile: '\e624',
//   bubbles: '\e600',
//   book: '\e626',
//   codepen: '\e606',
//   mail2: '\e625',
//   arrow-left: '\e627',
//   arrow-right: '\e628',
// );

// @each $name in map-keys($icons) {
//   $visual: map-get($icons, $name);
//     .icon-#{$name}:before {
//         content: $visual;
//     }
// }
