// COLORS!!
$color--orange: #ff6347; //tomato rgb(255,99,71)
$color--blue: #6495ed; //cornflowerblue rgb(100,149,237)
$color--gold: #ffd700; //gold rgb(255,215,0)
$color--darkgrey: #696969; // dimgray rgb(105,105,105)
$color--lightgrey: #f2f2f2; // light grey
$color--subtlegrey: #f2f2f2; //for backgrounds and such
$color--offwhite: #fffacd; // lemonchiffon rgb(255,250,205)
$color--hotpink: #ff69b4; // $color--hotpink

$color--cream: #ffc7ab;
$color--lightpurple: #997c90;

$color--navy: #255063;
$color--blue: #71c1d3;
$color--hotpink: #f47fb5;
$color--purple: #997C90;
$color--darkerpurple: #5a4b60;



// BREAKPOINTS
$phone-vert: max-width 20em; // 20em (320px)
$phone-horiz: max-width 30em; // 30em (480px)
$small-tab: max-width 37.5em; // 37.5em (600px)
$tab-vert: max-width 48em; // 48em (768px)
$tab-horiz: max-width 56.25em; // 56.25em (900px)
$layout-break: max-width 60em; // 60em (960px)
$page-container: max-width 68.75em;// 68.75em (1100px)
$huge: min-width 81.25em;// 81.25em (1300px)