---
layout: default
---
<div class="post-intro" {% if page.header-bg %}style='background: linear-gradient( rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("{{ page.header-bg }}")' {% endif %}>
	<h1>{{ page.title }}</h1>
	<p class="meta">{{ page.date | date: '%B %d, %Y' }}</p>
 </div>

<div class="post">
{{ content }}
</div>

<!-- syntax highlighting -->
<script src="{{site.baseurl}}/js/vendor/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{{site.baseurl}}/js/vendor/highlight.pack.js"></script>

<script>
//hljs
$(document).ready(function() {
	$('pre code, code').each(function(i, e) {hljs.highlightBlock(e)});

	//every time you click on the twitter link button, it takes the text inside of the blockquote and tweets :)
	$('.twitter-share').each(function() {
		$(this).attr('href', "https://twitter.com/share?url=http://www.google.com&via=Una&text=" + $(this).text());
	});
});
</script>

