---
layout: default
---

<div class="post-intro" {% if page.header-bg %}style='background: linear-gradient( rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), 50% url("{{ page.header-bg }}"); background-size: cover;' {% endif %}>
	<h1>{{ page.title }}</h1>
	<p class="meta">{{ page.date | date: '%B %-d, %Y' }}</p>
</div>

{% if page.audio %}
<div class="audio-section">
  Listen to this blog post:
     <audio controls>
       <source src="../audio/{{ page.audio }}.mp3" type="audio/mpeg">
       Your browser does not support the audio element.
     </audio>
  </div>
{% endif %}

<article class="post">

  {{ content }}

	<div id="disqus_thread"></div>

</article>

<!-- syntax highlighting -->
<script src="/js/vendor/highlight.pack.js"></script>
<script>
var disqus_shortname = 'unakravets';

/* * * DON'T EDIT BELOW THIS LINE * * */
(function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>