.about {
  @extend %container;
  margin: 2em 0 -.5em 0;
  max-width: 1400px;
  position: relative;

  &__img {
    width: 66%;
    margin: 1em 0 -4em;

    @include breakpoint(lg) {
      width: 100%;
      max-width: 40em;
      display: block;
      margin: 3.25em auto -6em;
      width: 100%;
    }

    @include breakpoint(sm) {
      margin: 7em auto -6em;
    }
  }

  &__text {
    @extend .post;
    width: 24em;
    display: block;
    position: absolute;
    top: 2em;
    left: 55%;
    background: white;

    @include breakpoint(lg) {
      position: relative;
      left: 0;
      width: 100%;
      padding: 1em 3em 1em;
    }
  }
}