ul,
ol {
	line-height: $page-line-height;
}

%post-list {
	margin: 0 auto;

	h2 {
		color: $color--blue;
		margin-bottom: .2em;
		line-height: 1;
	}

	.post-meta {
		font-style: italic;
		margin: 0 auto;
		color: $color--blue;
	}

	li {
		@extend %transition-duration;
		list-style: none;
		padding: 1em 1em 3em;
		border-bottom: 1px solid $color--lightgrey;

		&:hover {
			background-color: $color--lightgrey;
		}
	}

	ul {
		margin: 1em auto;

		li {
			margin-left: 3em;
			margin-bottom: .5em;
		}
	}

	a {
		display: block;
		margin: 0 auto;
		max-width: $list-width;
		text-decoration: none;
	}
}

.archive {
	@extend %container;
	color: $color--darkerpurple;

	@include breakpoint(sm) {
		margin: 7em 1em;
	}
}

.post-list--home {
	@extend %post-list;
}


.post-list--archive {
	@extend %post-list;

	li {
		padding: 1em;

		&.link-out h2{
			@extend %link-out-icon;
		}
	}

	h2 {
		margin: 0 auto;
		@include fontsize(14);
		font-weight: 500;
	}


}

%link-out-icon {
	&:after {
		content: '';
		display: inline-block;
		background-image: url(../images/linkout-icon.svg);
		background-size: 100%;
		width: 0.7em;
		height: 0.7em;
		margin-left: 0.3em;
	}
}

.link-out .post-title{
	@extend %link-out-icon;
}

// Speaking:

.speaking {
	color: $color--blue;
}

.speaking {
	h1 {
		color: $color--hotpink;
		margin: 1.5em auto .5em;
	}

	.post-meta {
		font-size: 90%;
		color: $color--copy;
		font-style: italic;
	}
}

.event-list--upcoming {
	@extend %pink-links;
	text-align: left;
	max-width: 600px;
	margin: 0 auto;
	padding: 0 1em;
	list-style: none;
	position: relative;

	.event--location {
		@extend %font-title;
		font-weight: 100;
		color: $color--blue;
		left: 30%;
		position: absolute;
	}

	.post-meta {
		font-size: 80%;
		left: 80%;
		position: absolute;
	}
}

.event-list--past {
	@extend %post-list;
	max-width: 980px;
	margin: 0 auto;

	li {
		width: 32%;
		height: 310px;
		padding: 1em;
		display: inline-block;
		vertical-align: top;
		text-align: left;
		border-bottom: none;


		img {
			height: 150px;
			width: auto;
			display: block;
			margin: 0 auto;
		}

		h2 {
			margin: .5em 0 0;
			font-size: 1.2em;
			font-weight: 100;
		}

		.title {
			color: $color--purple;
		}
	}
}
