ul,
ol {
	line-height: $page-line-height;
}

%post-list {
	margin: 0 auto;

	h2 {
		color: $color--blue;
		margin-bottom: .2em;
		line-height: 1;
	}

	.post-meta {
		font-style: italic;
		margin: 0 auto;
		color: $color--blue;
	}

	li {
		@extend %transition-duration;
		list-style: none;
		padding: 1em 1em 3em;
		border-bottom: 1px solid $color--lightgrey;

		&:hover {
			background-color: $color--lightgrey;
		}
	}

	ul {
		margin: 1em auto;

		li {
			margin-left: 3em;
			margin-bottom: .5em;
		}
	}

	a {
		display: block;
		margin: 0 auto;
		max-width: $list-width;
		text-decoration: none;
	}
}

.archive {
	@extend %container;
	color: $color--darkerpurple;

	@include breakpoint(sm) {
		margin: 7em 1em;
	}
}

.post-list--home {
	@extend %post-list;
}


.post-list--archive {
	color: $color--copy;
	@extend %post-list;

	li {
		padding: 1em;

		&.link-out h2{
			@extend %link-out-icon;
		}
	}

	.post-meta {
		font-size: 90%;
	}

	h2 {
		@include fontsize(16);
		color: $color--purple;
	}
}

%link-out-icon {
	&:after {
		content: '';
		display: inline-block;
		background-image: url(../images/linkout-icon.svg);
		background-size: 100%;
		width: 0.7em;
		height: 0.7em;
		margin-left: 0.3em;
	}
}

.link-out .post-title{
	@extend %link-out-icon;
}

//
// Speaking
//

.speaking {
	color: $color--blue;
	@include breakpoint(sm) {
		padding-top: 3em;
	}
}

.speaking {
	h1 {
		color: $color--purple;
		margin: 1.5em auto .5em;

		@include breakpoint(sm) {
			text-align: left;
			padding: 0 .5em;
		}

		@include breakpoint(xs) {
			text-align: center;
			padding: 0 .5em;
		}
	}

	.post-meta {
		font-size: 90%;
		color: $color--copy;
		font-style: italic;
	}
}

.event-list--upcoming {
	@extend %pink-links;
	text-align: left;
	max-width: 600px;
	margin: 0 auto;
	padding: 0 1em;
	list-style: none;
	position: relative;

	@include breakpoint(xs) {
		text-align: center;
	}

	.event--location {
		@extend %font-title;
		font-weight: 100;
		color: $color--blue;
		left: 35%;
		position: absolute;

		@include breakpoint(xs) {
			position: relative;
			left: 0;
		}
	}

	.post-meta {
		font-size: 80%;
		left: 80%;
		position: absolute;

		@include breakpoint(xs) {
			position: relative;
			width: 100%;
			left: 0;
			display: block;
		}
	}
}

.event-list--past {
	@extend %post-list;
	max-width: 980px;
	margin: 0 auto;

	li {
		width: 32%;
		height: 350px;
		padding: 1em;
		display: inline-block;
		vertical-align: top;
		text-align: left;
		border-bottom: none;
		position: relative;

		@include breakpoint(sm) {
			width: 100%;
			height: auto;
			max-height: 160px;
		}

		@include breakpoint(sm) {
			width: 100%;
			height: auto;
			max-height: none;
		}

		.img-container {
			max-height: 180px;
			width: 100%;
			display: block;
			overflow: hidden;

			@include breakpoint(sm) {
				width: 50%;
				display: inline-block;
				float: left;
				max-height: 140px;
			}

			@include breakpoint(xs) {
				width: 100%;
				display: inline-block;
				float: none;
				clear: both;
				max-height: 260px;
			}
		}

		.meta-container {
			@include breakpoint(sm) {
				width: 50%;
				display: inline-block;
				float: left;
				padding-left: 1em;
				max-height: 200px;
			}

			@include breakpoint(xs) {
				width: 100%;
				clear: both;
				margin-top:1em;
				padding-left: 0;
				max-height: 230px;
				text-align: center;
			}
		}

		h2 {
			margin: .5em 0 0;
			font-size: 1.2em;
			font-weight: 100;
		}

		.title {
			color: $color--purple;
		}
	}

	.flag {
		position: absolute;
		top: 0;
		right: 0;
		margin: 1em;
		font-size: 70%;
		background: $color--purple;
		padding: .5em 1em;
		transform: skew(-20deg);

		p {
			color: white;
			margin-bottom: 0;
			transform: skew(20deg);
		}

		@include breakpoint(sm) {
			right: 48%;
		}

		@include breakpoint(sm) {
			right: 0;
		}
	}
}
