.post {
	@extend %pink-links;
	@extend %container;

	p {
		@extend %clearfix;
		&:first-child {
		  font-size: 115%;
		  border-left: 2px solid $color--main;
		  padding-left: 1em;
		  margin-bottom: 1em;
		}
	}

	ul,
	ol {
		margin: 1em 3em;
		padding-right: 2em;
		color: $color--copy;
		
		li {
			margin-bottom: .8em;
		}

		@include breakpoint(sm) {
			padding-right: 0;
		}
	}

	ul {
		//pretty bullets
		list-style: none;

		li:before {
				content: "⁞";
				color: $color--main;
				display: inline-block;
				width: 1em;
				margin-left: -1em;
			}
		}

	small, aside {
	  @extend %pink-aside;
	}

	h2 {
		color: $color--darkerpurple;
	}

	h3 {
		color: $color--purple;
	}

	figure,
	img {
		margin: 1em auto;

		&.left {
			float: left;
			margin: 1em 3em 1em -20em;
		}

		&.right {
			float: right;
			margin: 1em -20em 1em 3em;
		}

		&.wide {
			margin-left: -10%;
			max-width: 120%;
		}
	}

	figcaption {
		font-size: 70%;
		margin-top: -5em;
		position: absolute;
		z-index: 2;
		right: 0;
		display: inline-block;
		background: white;
		max-width: 300px;
		padding: .5em 1em;
	}
}

.post-intro {
	background: $color--secondary;
	padding: 2em;
	color: white;

	h1 {
		@extend %container;
		color: currentColor;
	}

	.meta {
		@extend %container;
		@extend %font-pull;
		@include fontsize(20);
		color: currentColor;
		margin: 0 auto 2em;
	}
}

