.post {
	@extend %pink-links;
	@extend %container;

	p {
		@extend %clearfix;
		&:first-child {
		  font-size: 115%;
		  border-left: 1px solid $color--hotpink;
		  padding-left: 1em;
		  margin-bottom: 1em;
		}
	}

	ul,
	ol {
		margin: 1em 3em;
		padding-right: 2em;
		color: $color--copy;
		
		li {
			margin-bottom: .8em;
		}
	}

	ul {
		//pretty bullets
		list-style: none;

		li:before {
				content: "⁞"; //✦ <-- also a nice one :P
				color: $color--main;
				display: inline-block;
				width: 1em;
				margin-left: -1em;
			}
		}

	small, aside {
	  @extend %pink-aside;
	}

	h2 {
		color: $color--darkerpurple;
	}

	h3 {
		color: $color--purple;
	}

	img {
		margin: 1em auto;
	}
}

.post-intro {
	background: lightslategrey;
	padding: 2em;
	color: white;

	h1 {
		@extend %container;
		color: currentColor;
	}

	.meta {
		@extend %container;
		@extend %font-pull;
		@include fontsize(20);
		color: currentColor;
		margin: 0 auto 2em;
	}
}

