.post {
	@extend %pink-links;
	@extend %container;

	p {
		@extend %clearfix;
		&:first-child {
		  font-size: 115%;
		}
	}

	ul {
		margin: 1em 3em;
		color: $color--copy;
	}

	small, aside {
	  @extend %pink-aside;
	}

	h2 {
		color: $color--darkerpink;
	}

	h3 {
		color: $color--lighterpink;
	}
}

.post-meta {
	@extend %font-pull;
	@include fontsize(10);
}