.post {
	@extend %pink-links;
	@extend %container;

	@include breakpoint(sm) {
		padding: 1em;
	}

	p {
		&:first-child {
		  @extend %intro-p;
		}
	}

	.intro-p {
		@extend %intro-p;
	}

	ul,
	ol {
		margin: 1em 3em;
		padding-right: 2em;
		color: $color--copy;

		@include breakpoint(xs) {
			margin: 1em;
		}

		li {
			margin-bottom: .6em;
		}

		@include breakpoint(sm) {
			padding-right: 0;
		}
	}

	ul {
		//pretty bullets
		list-style: none;

		li:before {
			content: "⁞";
			color: $color--main;
			display: inline-block;
			width: 1em;
			margin-left: -1em;

				@include breakpoint(xs) {
					content: "-"; // The "⁞" was breaking on mobile
				}
			}
		}

	small, aside {
	  @extend %pink-aside;

	  @include breakpoint(sm) {
	      margin: 1em auto;
	      text-align: right;
	  }

	  &.half--left,
	  &.half--right {
	  	width: 50%;

	  	@include breakpoint(sm) {
	  		width: calc(100% - 1.5em);
	  	}
	  }

	  &.half--right {
	  	margin: 1em -4em 1em 1em;

	  	@include breakpoint(md) {
	  		margin: 1em;
	  	}
	  }

	  &.half--left {
	  	margin: 1em 1em 1em -4em;

	  	@include breakpoint(md) {
	  		margin: 1em;
	  	}
	  }

	}

	em,
	strong {
		color: $color--blue;
	}

	h2 {
		color: $color--darkerpurple;
	}

	h3 {
		color: $color--purple;
	}

	figure,
	img {
		margin: 1em auto;
		display: block;

		&.left {
			float: left;
			margin: 1em 2em 1em -6em;

			@include breakpoint(md) {
			  margin: 1em 2em 1em 0;
			}
		}

		&.right {
			float: right;
			margin: 1em -6em 1em 2em;

			@include breakpoint(md) {
			  margin: 1em 0 1em 2em;
			}
		}

		&.wide {
			margin-left: -10%;
			max-width: 120%;
		}
	}

	figcaption {
		@extend %caption;
		margin-top: -1em;
	}

	.caption {
		@extend %caption;
	}

	blockquote {
		@extend %blockquote;

		p:first-child {
			border-left: none;
			padding-left: 0;
			font-size: inherit;
		}

		@include breakpoint(sm) {
		  max-width: 100%;
		  margin: 1em auto;
		}
	}
}

.post .twitter-share {
	@extend %transition-duration;
	&:after {
		font-family: "icomoon";
		content: " \e602";
		font-style: initial;
		color: $color--blue;
	}

	&:hover:after {
		@extend %transition-duration;
		color: white;
	}

	&.quote {
		@extend %blockquote;

		&:after {
			@extend %transition-duration;
			position: absolute;
			right: -2em;
		}

		&.left:after {
			left: -2em;

			@include breakpoint(sm) {
				left: 1em;
			}
		}

		&:hover {
			background: $color--blue;

			&:after {
				color: $color--blue;
			}
		}

		@include breakpoint(sm) {
			&:after {
				position: relative;
				right: 0;
			}

			&:hover:after {
				color: white;
			}
		}

		@include breakpoint(xs) {
			&.left,
			&.right {
			max-width: 100%;
			margin: 1em auto;
			}
		}
	}
}

.post-intro {
	background: $color--secondary;
	background-size: cover;
	padding: 2em;
	color: white;

	h1 {
		@extend %container;
		color: currentColor;
	}

	.meta {
		@extend %container;
		@extend %font-pull;
		@include fontsize(20);
		color: currentColor;
		margin: 0 auto 2em;
	}
}

.offline-btn {
	position: relative;
	transition-duration: .25s;
	background: none;
	border: none;
	outline: none;
	padding: .25em .4em;
	list-style: none outside none;
	display: inline-block;
	border-bottom: 1px dashed $color--main;
	color: $color--links;
	padding: 0 .2em;

	&:hover {
		background: $color--main;
		color: #fff;
	}
}

.event-flag {
  float: right;

	@include breakpoint(sm) {
		float: none;
		display: inline;
	}
}
